* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Axiforma-Regular";
}
@font-face {
  font-family: "Axiforma-Regular";
  src: url("../public/fonts/Axiforma-Regular.woff");
}

$light: #fff;
$snack1: rgba(255, 99, 71, 0.648);
$snack2: rgba(102, 255, 71, 0.632);
$snack3: rgba(71, 102, 255, 0.712);
$snack4: rgba(255, 169, 71, 0.632);

.snack1 {
  background-color: $snack1;
}
.snack2 {
  background-color: $snack2;
}
.snack3 {
  background-color: $snack3;
}
.snack4 {
  background-color: $snack4;
}
body {
  background-color: $light;
  font-family: "Axiforma-Regular";
}
img {
  width: 100%;
}
a {
  color: #555;
  text-decoration: underline;
  // background-color: #3947a8b9;
}
.image-overview1 {
  background-image: url("../public/assets/art2.jpg");
}
.image-overview3 {
  background-image: url("../public/assets/login.jpg");
}
.image-overview2 {
  background-image: url("../public/assets/bed.jpg");
}
.image-overview {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  border-radius: 20px;
  position: relative;
  display: grid;
  place-content: center;
  @media screen and (max-width: 600px) {
    height: 40vh;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
  }
  .image-overview-caption {
    position: relative;
    z-index: 100;
    color: #fff;
    text-align: center;
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #fff;
  border-radius: 49px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    @extend .snack3;
    height: 100%;
    border-radius: 49px;
  }
}
